# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Vector database
Chroma_db/
src/Chroma_db/

# Uploaded files
Uploaded_Documents/
uploads/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

data/
